.navbar-custom{
    background-color: rgba(69,39,160 ,1);
}

.nav-link a:hover {
    color: black;
}

.ovo {
    padding: 3rem 0rem 0rem 3rem;
    /*trbl*/
}

.logo a {
    color:black;
    font-size: 20pt;
}

.logo a:link {
    text-decoration: none;
}

.logo a:hover {
    color: #696969;
}

.imag {
    padding: -5rem;
    width: 150px;
    height: 130px;
}



.card{
    margin-left: 500px;
    margin-right: 500px;
    border-style: solid;

}

.card .card-header{
    background-color: rgba(69,39,160 ,1) !important;
}
.card .card-header h5{
    color: white;
}
