.navbar-custom{
    background-color: rgba(69,39,160 ,1);
}

.nav-link a:hover {
    color: black;
}

.ovo {
    display: block;
    position: relative;
    padding: 3rem 0rem 0rem 3rem;
    /*trbl*/
}

.row {
    display: block;
    float: left;
}

.logo a {
    color:black;
    font-size: 20pt;
}

.logo a:link {
    text-decoration: none;
}

.logo a:hover {
    color: #696969;
}

.imag {
    padding: -5rem;
    width: 150px;
    height: 130px;
}

.row .ovo .pesquisa .pesquisa_form {
    padding: 4rem 4rem 0rem 40rem;
}
